#
# Copy to env.list and DO NOT commit that file to version control.
#

###########################################################################
# EXPORTED ENVIRONMENT VARIABLES
# These are used by the various .sh scripts. They are also copied into the
# container, but not used there. They don't really need to be in this file,
# but it keeps all of the configuration in one place.
###########################################################################

APP_NAME=dls-cantaloupe
DOCKER_TAG=dls-cantaloupe:latest
# (from your ~/.aws/credentials file)
AWS_PROFILE=
# (I lied above--this one is actually used in the container too)
AWS_REGION=us-east-2
ECR_HOST=
ECS_CLUSTER=dls-cantaloupe
ECS_SERVICE=dls-cantaloupe-alb
TASK_COUNT=4

###########################################################################
# CONTAINER RUNTIME ENVIRONMENT VARIABLES
# The ones that start with CANTALOUPE_ override cantaloupe.properties keys
# in the following way: config.file.key => CANTALOUPE_CONFIG_FILE_KEY
###########################################################################

# These must grant access to any needed S3 buckets.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CANTALOUPE_ENDPOINT_API_USERNAME=
CANTALOUPE_ENDPOINT_API_SECRET=
# These must be located in $AWS_REGION.
CANTALOUPE_S3SOURCE_BUCKET=
CANTALOUPE_S3CACHE_BUCKET=
MEDUSA_URL=
MEDUSA_USER=
MEDUSA_SECRET=
