#
# Environment variables passed into the Docker container.
#
# Copy to env.list and DO NOT commit that file to version control.
#

APP_NAME=dls-cantaloupe

# AWS settings

DOCKER_TAG=dls-cantaloupe:latest
ECR_HOST=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-2

# Cantaloupe settings
# These override cantaloupe.properties keys in the following way:
#
# config.file.key => CANTALOUPE_CONFIG_FILE_KEY
#

CANTALOUPE_ENDPOINT_API_USERNAME=
CANTALOUPE_ENDPOINT_API_SECRET=
CANTALOUPE_S3SOURCE_BUCKET=
CANTALOUPE_S3CACHE_BUCKET=
MEDUSA_URL=
MEDUSA_USER=
MEDUSA_SECRET=
