#
# Copy to env.list and DO NOT commit that file to version control.
#

###########################################################################
# EXPORTED ENVIRONMENT VARIABLES
# These are used by the various .sh scripts. They are also copied into the
# container, but not used there. They don't really need to be in this file,
# but it keeps all of the configuration in one place.
###########################################################################

APP_NAME=dls-cantaloupe
# (from your ~/.aws/credentials file)
AWS_PROFILE=
# (I lied above--this one is used in the container too)
AWS_REGION=us-east-2
ECR_HOST=
ECS_CLUSTER=dls-cantaloupe
ECS_SERVICE=dls-cantaloupe-alb
TASK_COUNT=4

###########################################################################
# CONTAINER RUNTIME ENVIRONMENT VARIABLES
# All of these (plus AWS_REGION above) also need to be present in the ECS
# task definition.
###########################################################################

AWS_CONTAINER_CREDENTIALS_RELATIVE_URI=

MEDUSA_URL=
MEDUSA_USER=
MEDUSA_SECRET=

# These override cantaloupe.properties keys in the following way:
#     config.file.key => CONFIG_FILE_KEY
ENDPOINT_API_USERNAME=
ENDPOINT_API_SECRET=
# These must be located in $AWS_REGION.
S3SOURCE_BUCKET_NAME=
S3CACHE_BUCKET_NAME=
